{% extends "diana/index.html" %}

{% block aboutme %}
<h2>About Brooklyn</h2>
<p>Brooklyn is a 6 year old Black and Tan Coonhound mix.</p>
<p>She enjoys long walks where she can sniff things,
  <br>pretending like she knows what she would do if she caught a squirrel,
  <br>getting pets from strangers,and ignoring her food.</p>
<p>There is a 97% chance that she is sleeping right now.</p>
{% endblock %}

{% block title_content %}
<h1 class="brand-heading">BROOKLYN</h1>
<p class="intro-text">Probably sleeping <i>right now</i>.</p>
{% endblock %}
